body{
    font-family: 'poppins', sans-serif;
}
.banner{
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
}
.padding{
    padding: 60px 0;
}
.social-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}
